name: Build and Zip .NET 6 App

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup .NET 6
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '6.0.x'
    
    - name: Restore dependencies
      run: dotnet restore
    
    - name: Build
      run: dotnet build --configuration Release --no-restore
    
    - name: Publish
      run: dotnet publish -c Release -r win-x64 --self-contained true -p:PublishSingleFile=true -p:DebugType=None -p:DebugSymbols=false -o ./publish
    
    - name: Get version from project file
      id: get_version
      run: |
        $version = Select-Xml -Path .\**\*.csproj -XPath "/Project/PropertyGroup/Version" | Select-Object -First 1 -ExpandProperty Node | Select-Object -ExpandProperty InnerText
        if ([string]::IsNullOrEmpty($version)) {
          $version = "1.0.0"
        }
        echo "VERSION=$version" >> $env:GITHUB_OUTPUT
      shell: pwsh
    
    - name: Zip the published app
      run: Compress-Archive -Path ./publish/* -DestinationPath MWVRLauncher-${{ steps.get_version.outputs.VERSION }}.zip
      shell: pwsh
    
    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: MWVRLauncher-${{ steps.get_version.outputs.VERSION }}
        path: MWVRLauncher-${{ steps.get_version.outputs.VERSION }}.zip